body {
    background: black;
}

.header{
    display: inline;
    margin: 0px 60px;
    padding: 2px 10px;
    
}

.header:hover {
    background-color: white;
    color: darkslategrey;
}

header {
    color: white;
    text-align: center;
}

#myVideo {
    opacity: .1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }