* {
    box-sizing: border-box;
  }
  
body {
    margin: 5px;
    background-color: rgb(22, 22, 22);
}
  
#title {
    position: fixed;
    color: white;
    width: 98%;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 0, 300;
    line-height: 125px;
    text-shadow: 3px 3px #000000;
}
  
#me-video {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-position: center;
    object-fit: cover;
  }

nav a{
    position: relative;
    color:white;
    display: inline;
    margin: 20px 50px;
    padding: 0px 10px;
}

nav a:hover {
    background-color: white;
    color: darkslategrey;
}

#where-tab {
    margin: 10px, 30px;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#myVideo {
    opacity: .1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

#about-me{
    display: inline;
    width: 85%;
    margin-left: 3%;
    padding: 20px;
    color: white;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 0, 300;
}

#about{
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
}

#about-me img{
    margin-right: 20px;
    float: left;
    outline: white;
    outline-width: 5px;
    outline-style: groove;
}

